@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes tophelpICO {
  0% {
    transform: rotate(90deg); }
  70%, 100% {
    transform: rotate(0deg); } }

html {
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0; }

.displayBlock {
  display: block; }

.displayNone {
  display: none; }

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-weight: 300; }

.section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }

.loading .parts {
  background: url(../assets/e9b256ad.loading-parts.png) no-repeat 0 0;
  background-size: 100%;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.loading .spin {
  background: url(../assets/5a3c0125.loading-spin.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 9px;
  top: 9px;
  opacity: 0; }

.loading .percent {
  width: 100%;
  text-align: center;
  line-height: 42px;
  font-size: 12px;
  opacity: 0; }

.loading_in .spin {
  opacity: 1;
  -webkit-animation: rotate 0.65s linear infinite;
  -moz-animation: rotate 0.65s linear infinite;
  -ms-animation: rotate 0.65s linear infinite;
  animation: rotate 0.65s linear infinite;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loading_in .percent {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.button-go {
  position: absolute;
  bottom: 50px;
  left: 50%;
  background: url(../assets/8b0f08f2.button-go.png) no-repeat 0 0;
  background-size: 100% auto;
  width: 155px;
  height: 39px;
  margin-left: -78px; }

.voice {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../assets/b9180419.voice-control.png) no-repeat 0 0;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  z-index: 1; }

.on {
  background-position: 0 100%;
  color: #fff; }

#three {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; 
  -webkit-overflow-scrolling: touch; }

#ROT {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #232323;
  z-index: 50000;
  display: none; }
  #ROT p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: 40px;
    font-size: 12px;
    color: #fff;
    z-index: 10001; }
  #ROT .ico {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000; }
    #ROT .ico b {
      display: block;
      width: 40px;
      height: 78px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -20px;
      margin-top: -49px;
      background: url(../assets/0ca0a1b0.ale_rotate.png) no-repeat;
      background-size: contain;
      animation: tophelpICO 1s 0.5s ease infinite alternate;
      -webkit-animation: tophelpICO 1s 0.5s ease infinite alternate;
      -ms-animation: tophelpICO 1s 0.5s ease infinite alternate; }
